<form [formGroup]="form" (ngSubmit)="SaveProduct($event)">
    <mat-card>
        <mat-card-header>
            <h4><b>{{title}}</b></h4>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input formControlName="id" placeholder="Codigo Producto" matInput type="text" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input formControlName="title" placeholder="Titulo" matInput type="text" disabled/>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input formControlName="price" placeholder="precio" matInput type="numeric"/>
                    </mat-form-field>
                    <div *ngIf="priceField.errors && priceField.dirty">
                        <p *ngIf="priceField.hasError('price_invalid')">El campo debe ser mayor a 10.000</p>
                        <p *ngIf="priceField.hasError('required')">campo requerido</p>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <textarea formControlName="description" placeholder="Descripcion" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <textarea formControlName="discount" placeholder="Descuento" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <textarea formControlName="stock" placeholder="Disponibilidad" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <textarea formControlName="state" placeholder="Estado" matInput></textarea>
                    </mat-form-field>
                    <!--<mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                          <mat-option value="true">Activo</mat-option>
                          <mat-option value="false">Inactivo</mat-option>
                        </mat-select>
                      </mat-form-field>-->
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
        </mat-card-actions>
    </mat-card>
    
</form>