<form [formGroup]="form" (ngSubmit)="SaveRegister($event)">
  <mat-card>
      <mat-card-header>
          <h4><b>Register</b></h4>
      </mat-card-header>
      <mat-card-content>
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput [type]="hide" required type="text">
            <mat-error *ngIf="form.get('name').hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>  
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Segundo Nombre</mat-label>
            <input formControlName="secondName" matInput required [type]="hide" type="text">
            <mat-error *ngIf="form.get('secondName').hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>  
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Primer Apellido</mat-label>
            <input formControlName="lastName" matInput [type]="hide" required type="text">
            <mat-error *ngIf="form.get('lastName').hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>            
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Segundo Apellido</mat-label>
            <input formControlName="secondLastName" matInput required [type]="hide" type="text">
            <mat-error *ngIf="form.get('secondLastName').hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field> 
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Género</mat-label>
            <select matNativeControl required formControlName="gender">
              <option value="F">Femenino</option>
              <option value="M">Masculino</option>
            </select>
            <mat-error *ngIf="form.get('gender').hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
              <mat-label>Télefono</mat-label>
              <input formControlName="phone" matInput [type]="hide" required type="text">
              <mat-error *ngIf="form.get('phone').hasError('required')">{{getErrorMessage()}}</mat-error>
            </mat-form-field>  
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Dirección</mat-label>
            <input formControlName="address" matInput [type]="hide" required type="text">
            <mat-error *ngIf="form.get('address').hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>  
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput [type]="hide" required type="text">
            <mat-error *ngIf="form.get('email').hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field> 
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input formControlName="userName" matInput [type]="hide" required type="text">
            <mat-error *ngIf="form.get('userName').hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>  
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile> 
          <mat-form-field appearance="fill">
            <mat-label>Rol</mat-label>
            <select matNativeControl required formControlName="role">
              <option value="admin">Administrador</option>
              <option value="user">Usuario</option>
            </select>
            <mat-error *ngIf="form.get('role').hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Completar</button>
          </mat-card-actions>    
        </mat-grid-tile>
      </mat-grid-list>     

    </mat-card-content>
     
  </mat-card>
  
  
</form>