<!--<h3 appHighlight>  {{product.title | uppercase }}</h3>
<img [src]="product.image" alt ="">
<strong>{{product.price | currency}}</strong>
<p>{{product.description | slice:0:10}}</p>
<p>{{today|date:'yyyy-MM-dd'}}</p>
<button (click)="addCart()" mat-raised-button color="accent">añadir al carrito</button>
<br>
<a [routerLink]="['/products',product.id]" mat-raised-button color="primary">detalles</a> 

-->
<mat-card>
    <mat-card-header>
        <mat-card-title>{{product.title | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{product.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img [src]="product.image" alt ="">
    </div>
    <mat-card-content>
        <p>{{product.description | slice:0:10}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="programacion.ComprarProducto == true" (click)="addCart()" mat-raised-button color="accent">añadir al carrito</button>
        <a [routerLink]="['/products',product.id]" mat-raised-button color="primary">detalles</a> 
    </mat-card-actions>
</mat-card>