<footer class="footer" >
  <mat-grid-list [cols]="breakpoint" rowHeight="70px" (window:resize)="onResize($event)">
    <mat-grid-tile [colspan]="breakpoint">
      <h2>Pontificia Universidad Javeriana</h2>
      <mat-divider></mat-divider>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item> Juliana Murillo Marmolejo </mat-list-item>
        <mat-list-item> Daniela Beltran </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item> Huil Sebastian Camacho </mat-list-item>
        <mat-list-item> Felix Rafael Moreno Tabares </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item> Jairo Andres Camargo Vargas </mat-list-item>
        <mat-list-item> Oscar Nope </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
  
  