<footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-4">
          <div class="box">
            <h2>Pontificia Universidad Javeriana</h2>
            <ul>
              <li><a routerLink="/">Juliana Murillo Marmolejo</a></li>
              <li><a routerLink="/">Daniela Beltran</a></li>
              <li><a routerLink="/">Jairo Andres Camargo Vargas</a></li>
              <li><a routerLink="/">Huil Sebastian Camacho</a></li>
              <li><a routerLink="/">Felix Rafael Moreno Tabares</a></li>
              <li><a routerLink="/">Oscar Nope</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>
  
