@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);


mat-grid-list {
  padding: 1em;
  margin: 0;
}

mat-grid-tile {
  padding: 0;
  margin: 0;
}

footer {
  background-color: mat-color($primary);
  
}

.mat-list-base .mat-list-item {
  color: white!important;
}