<mat-card>
    <mat-card-title>Carrito de compras</mat-card-title>
    <mat-card-subtitle>
      <br>
      <table mat-table [dataSource]="carrito" class="mat-elevation-z8 demo-table">
        <!-- Weight Column -->
       <ng-container matColumnDef="producto_id">
         <th mat-header-cell *matHeaderCellDef> Id </th>
         <td mat-cell *matCellDef="let element"> {{element.producto_id}} </td>
       </ng-container>
    
       <!-- Position Column -->
       <ng-container matColumnDef="producto_nombre">
         <th mat-header-cell *matHeaderCellDef> Nombre </th>
         <td mat-cell *matCellDef="let element"> {{element.producto_nombre}} </td>
       </ng-container>
     
       <!-- Name Column -->
       <ng-container matColumnDef="producto_cantidad">
         <th mat-header-cell *matHeaderCellDef> Cantidad </th>
         <td mat-cell *matCellDef="let element"> {{element.producto_cantidad}} </td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="GoToPagar()">Pagar</button>
    </mat-card-actions>
  </mat-card>

