
<div class='header'>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="header-row row between-xs middle-xs">
                
                <nav>
                    <span> Versión {{version}}</span>
                    <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
                    <a mat-button *ngIf="programacion.VisualizacionProductos == true" routerLink="/products" routerLinkActive="active">Productos</a>
                    <a mat-button *ngIf="programacion.GestionPerfil == true" [matMenuTriggerFor]="reportes">Gestion de perfil</a>
                    <mat-menu #reportes="matMenu" xPosition="after">
                      <button mat-menu-item *ngIf="programacion.GestionPerfil == true" routerLink="GestionPerfil/actualizar">Actualizar Datos</button>
                      <button mat-menu-item *ngIf="programacion.GestionPerfil == true" (click)="deleteAccount()">Darte de baja en el sitio</button>
                      <a mat-menu-item *ngIf="programacion.InicioSesion == true" routerLink="/login" routerLinkActive="active">Login</a>
                      <a mat-menu-item *ngIf="programacion.RegistroUsuario == true" routerLink="/register" routerLinkActive="active">Registro</a>
                      <a *ngIf="sesion == true" mat-raised-button  (click)="CloseSession()"> cerrar sesión  </a>
                    </mat-menu>
                </nav>
                
            </div>
            
            <a *ngIf="programacion.ComprarProducto == true" mat-raised-button [matBadge] ="total2$ | async" matBadgeColor="warn" routerLink="/cart">
                card 
                <mat-icon>shopping_cart</mat-icon>
            </a>
            
        </mat-toolbar-row>
    </mat-toolbar>    
</div>
