<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport color="primary"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" >
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <button (click)="CloseSession()" mat-raised-button color="accent">Cerrar Sesión</button>
      <a *ngIf="programacion.AnadirProducto == true || programacion.ActualizarProducto == true" mat-list-item routerLink="/admin/inventario">Inventario</a>
      <a *ngIf="programacion.GenerarFactura == true" mat-list-item routerLink="/home">Generar Facturas</a>
      <a *ngIf="programacion.CrearPromocion == true" mat-list-item routerLink="/admin/promotion">Crear Promocion</a>
      <a *ngIf="programacion.AdministrarPedidos == true" mat-list-item routerLink="/admin/pedidos">Administrar Pedidos</a>
      <a *ngIf="programacion.GestionarReportes == true" mat-list-item [matMenuTriggerFor]="reportes">Reportes</a>
      <mat-menu #reportes="matMenu" xPosition="after"> 
        <button mat-menu-item routerLink="/admin/reporteOrdenes">Reporte Ordénes</button>
        <button mat-menu-item routerLink="/admin/reporteProductos">Reporte Productos</button>
        <button mat-menu-item routerLink="/admin/reportePromociones">Reporte Promociones</button>
      </mat-menu>
      
      <a *ngIf="programacion.AdministrarUsuariosRegistrados == true" mat-list-item routerLink="/admin/usuarios">Administrar Usuarios</a>
      <a mat-list-item routerLink="/home">back</a>
    
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Intranet</span>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
