<form [formGroup]="form" (ngSubmit)="SaveProduct($event)">
  <mat-card>
      <mat-card-header>
          <h4><b>Login</b></h4>
      </mat-card-header>
      <mat-card-content>
          <div class="row">
            <div class="col-xs">
              <mat-form-field appearance="fill">
                <mat-label>usuario</mat-label>
                <input formControlName="user" matInput placeholder="usuario" required type="text">
                <mat-error *ngIf="form.get('user').hasError('required')">{{getErrorMessage()}}</mat-error>
              </mat-form-field>  
            </div>
          </div>
          <div class="row">
            <div class="col-xs">
              <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
      </mat-card-actions>
  </mat-card>
  
</form>
