<br>
<button mat-raised-button (click)="promReport(true)">Crear Reporte Mensual</button>
<button mat-raised-button (click)="promReport(false)">Crear Reporte Anual</button>
<br>
<br>
<table [dataSource]="promotions" mat-table class="mat-elevation-z8">
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> Nombre </th>
  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
</ng-container>

<ng-container matColumnDef="detail">
  <th mat-header-cell *matHeaderCellDef> Detalle </th>
  <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
</ng-container>

<ng-container matColumnDef="state">
  <th mat-header-cell *matHeaderCellDef> Estado </th>
  <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
</ng-container>

<ng-container matColumnDef="type">
  <th mat-header-cell *matHeaderCellDef> Tipo </th>
  <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
</ng-container>

<ng-container matColumnDef="percentage">
  <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
  <td mat-cell *matCellDef="let element"> {{element.percentage}} </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
